* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;

  h1,
  h2 {
    font-family: "Poppins", sans-serif;
    color: #000;
  }

  a {
    text-decoration: none;
    color: unset;
  }
}

input,
button,
body {
  font-family: "Roboto", sans-serif;
  color: #737380;
}

input {
  background: #fefefe;
  border: 1px solid rgba(115, 115, 128, 0.33);
  border-radius: 8px;
  font-size: 20px;
  padding: 0 20px;
}

button {
  border: none;
  color: #fff;
  background-color: #e7344c;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
