.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;

  .content {
    width: 500px;

    .title-box {
      h1 {
        font-size: 96pt;
        line-height: 100%;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 24pt;
        color: #000;
      }
    }

    .content-box {
      margin: 60px 0;
      font-size: 24px;
      color: #000;

      h2 {
        color: #e7344c;
      }
    }

    a {
      background-color: #e7344c;
      color: #fff;
      font-size: 14pt;
      padding: 15px 40px;
      border-radius: 8px;
    }
  }
}
